.transport-icon {
    width: 15px;
    height: 15px;
    opacity: 0.7;
    margin-right: 5px;
}

.station-info {
    font-size: 0.8em;
}

.station-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.direction-arrow-box {
    padding: 30px;
}